cryptography<3.4
django<4
djangocms-admin-style
django-apptemplates
django-cms>=3.9,<4
djangocms-admin-style
django-treebeard
djangocms-frontend[djangocms-icon]
djangocms-file
djangocms-googlemap
djangocms-picture
djangocms-snippet
djangocms-style
djangocms-text-ckeditor
djangocms-transfer
djangocms-video
django-extensions
django-filer
django-storages[boto3]
easy_thumbnails
psycopg2==2.8.6
python-dotenv
pytz

# dev
django-debug-toolbar
pip-tools
Werkzeug
